<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>

    <style>
        body {
            margin: 0;
            overflow: hidden;
            background-color: #1E1E1E;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #loading-gif {
            width: 30vw;
            height: 30vh;
            object-fit: cover;
        }
    </style>

</head>
<body>
    <img id="loading-gif" src="/static/loading.gif">
    
    <script>
        window.location.href = "/main";
    </script>
</body>
</html>
